@import '../../utils/variable/variable.scss';

.wrapp-headers{
    display: flex;
    position: relative;
    height: 30vh;
    width: 100%;
    background-color: $colorSatu;

    .circle-header{
        display: flex;
        position: absolute;
        right: 0;
        height: 100%;
        width: 60%;
        background-color: $colorDua;
        opacity: .9;
        border-bottom-left-radius: 20pc;
        // border-top-left-radius: 5pc;
    }

    .btnBack{
        display: none;
        position: absolute;
        bottom: 90px;
        left: 20px;
        font-size: 20pt;
        font-weight: 500;
        cursor: pointer;
        color: $colorEmpat
    }

    .box-title-header{
        display: flex;
        position: absolute;
        height: auto;
        bottom: 20px;
        left: 20px;
        
        .title-header{
            display: flex;
            font-size: 18pt;
            font-weight: bold;
            color: $colorTiga;
        }
        .title-header2{
            display: flex;
            font-size: 18pt;
            font-weight: bold;
            color: $colorTiga;
        }
    }

    .img-profile{
        display: none;
        position: absolute;
        bottom: 20px;
        right: 20px;
        height: 50px;
        width: 50px;
        border-radius: 500px;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
    }

    .form-search{
        display: none;
        position: absolute;
        height: auto;
        left: 20px;
        right: 20px;
        bottom: 20px;
        // padding: 10px;
        border-radius: 20px;
        align-items: center;
        background-color: #fff;

        i{
            display: flex;
            font-size: 12pt;
            color: $colorEmpat;
            cursor: pointer;
            margin: 0 10px 0 20px;
        }

        .input-search{
            display: flex;
            height: 100%;
            width: 90%;
            outline: none;
            border: none;
            font-size: 12pt;
            color: $colorEmpat;
            font-weight: bold;
            padding: 10px 5px;
            border-radius: 20px;
        }
    }
    .input-search::-webkit-input-placeholder{
        color: $colorEmpat
    }
}