@import '../../utils/variable/variable.scss';

.wrapp-profile{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #fff;

    .container-profile{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 40px 20px;

        .img-profile-user{
            display: flex;
            height: 100px;
            width: 100px;
            border-radius: 500px;
            object-fit: cover;
            object-position: center;
            margin: 0 auto;
        }
        .name-profile{
            display: flex;
            justify-content: center;
            font-size: 14pt;
            font-weight: bold;
            color: $colorEmpat;
            margin: 10px 0;
        }
        .edit-profile{
            display: flex;
            font-size: 10pt;
            text-align: start;
            justify-content: flex-start;
            align-items: flex-start;
            color: #666;
            font-weight: bold;
            margin-top: 20px;
        }

        .btn-log-out{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding: 10px 0;
            font-size: 12pt;
            font-weight: bold;
            color: $colorSepuluh;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid $colorSepuluh;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}