@import '../../utils/variable/variable.scss';

.form-input-profile{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid $colorEnam;
    margin: 10px 0;

    .title-input{
        display: flex;
        font-size: 12pt;
        color: $colorEmpat;
        font-weight: bold;
        margin: 5px 0;
    }
    .input-profile{
        display: flex;
        width: 90%;
        padding: 5px 0;
        font-size: 11pt;
        font-weight: bold;
        color: #aaa;
        border: none;
        outline: none;
    }

    i{
        display: flex;
        position: absolute;
        right: 0;
        font-size: 14pt;
        color: #aaa;
        cursor: pointer;
    }
}