@import '../../utils/variable/variable.scss';

.wrapp-signIn{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    
    .container1-signIn{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 50px;

        .form-input{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;

            .txt-error-signin{
                display: flex;
                font-size: 9pt;
                text-align: start;
                color: $colorSepuluh;
                margin-top: 10px;
                animation: warning .3s ease forwards;
            }
        }

        .column-bawah{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;

            .column-sign-up{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 20px;

                .tanya{
                    display: flex;
                    font-size: 11pt;
                    color: $colorEmpat;
                    margin-right: 10px;
                }

                .txt-sign-up{
                    display: flex;
                    cursor: pointer;
                    color: rgb(17, 44, 133);
                    font-size: 11pt;
                    font-weight: bold;
                }
            }

            .btn-login-google{
                display: flex;
                margin-top: 40px;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                box-shadow: 0 2px 3px -1px rgba(0,0,0,0.2);
            }
        }
    }
}

@keyframes warning{
    to{
        bottom: -20px;
    }
}