@import '../../utils/variable/variable.scss';

.wrapp-keranjang{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .container-card-keranjang{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 40px 20px;

        .total-keranjang{
            display: flex;
            font-size: 12pt;
            color: $colorEmpat;
            font-weight: bold;
        }
    }
}