@import '../../utils/variable/variable.scss';

.box-formInput{
    display: flex;
    position: relative;

    .input-column{
        display: flex;
        height: auto;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 5px 0;
        color: $colorEmpat;
        font-size: 11pt;
        border-bottom: 1.5px solid rgba(179, 131, 255, 0.26);
        margin-top: 20px;
    }
    .input-column::-webkit-input-placeholder{
        color: #aaa;
    }

    i{
        display: flex;
        position: absolute;
        right: 0;
        bottom: 5px;
        font-size: 11pt;
        color: #ddd;
        cursor: pointer;
        transition: .3s ease;
    }

    .warning-password{
        display: none;
        position: absolute;
        font-size: 9pt;
        color: $colorSepuluh;
        bottom: 0;
        animation: warning .3s ease forwards;
    }
}

@keyframes warning{
    to{
        bottom: -20px;
    }
}