$colorSatu: #fdc426;
$colorDua:  #f7cf64;
$colorTiga: #444;
$colorEmpat: #444;
$colorLima: #fab804;
$colorEnam: rgba(179, 131, 255, 0.26);
$colorTujuh:  rgb(17, 44, 133);
$colorDelapan:  #f8db8c69;
$colorSembilan: #55fd55;
$colorSepuluh: #ff0000;